.main-text-area {
	width: 100%;
	margin-top: 5rem;
	margin-bottom: 2rem;
}

.word-count {
	width: 100%;
	margin-top: 5rem;
	margin-bottom: 2rem;
}

.longest-word-display {
	width: 100%;
	margin-top: 5rem;
	margin-bottom: 2rem;
}
